<body class="m-0 p-0 flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-800">

<div class="max-w-xl mx-auto bg-gray-800 rounded-lg overflow-hidden shadow-lg dark:bg-gray-900">
  <div class="px-6 py-4">
    <h2 class="text-2xl font-bold text-center text-white mb-2">Login</h2>
    <p class="text-gray-300 text-center mb-2">Welcome to Maedein Cabalo Todo App</p>
  </div>
  <div class="px-6 pb-4">
    <form class="space-y-4">
      <div>
        <label for="email" class="block text-sm font-medium text-white">Email</label>
        <input type="email" id="email" class="w-full px-3 py-2 placeholder-gray-300 border border-white rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email">
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-white">Password</label>
        <input type="password" id="password" class="w-full px-3 py-2 placeholder-gray-300 border border-white rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Password">
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input type="checkbox" id="remember-me" class="rounded border-gray-300 text-indigo-600 shadow-sm align-middle three-dot cursor-pointer" checked>
          <label for="remember-me" class="ml-2 text-sm text-white">Remember Me</label>
        </div>
        <a href="#" class="text-sm text-white hover:text-gray-300">Forgot your password?</a>
      </div>
    </form>
  </div>
  <div class="px-6 pt-2 pb-8 text-center">
    <div class="inline-flex items-center justify-center gap-4">
      <button type="submit" class="px-6 py-2 font-bold text-white bg-indigo-500 rounded-full hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 w-auto">Sign in</button>
      <a href="/register" class="px-6 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 w-auto inline-flex items-center justify-center">Register</a>
    </div>
  </div>
</div>

</body>